
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

a {
    text-decoration: none;
 
}

:root {

    --bg-color: #FFFFFF;
    --second-bg-color: #E8EAE3;
    --text-color: #0B4141;
    --second-color: #FAF0DC;
    --main-color: #FF6864;
    --big-font: 5rem;
    --h2-font: 2.5rem;
    --p-font: 1.1rem;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 22px 15%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    transition: all .45s ease;
   

}


header a{
    font-size: 1.2rem;
    font-weight: 500;
    color:var(--text-color)
}
header a:hover i{
    color:var(--main-color)
}
header a:hover{
    color:var(--main-color)
}
header a:hover span{
    color:var(--text-color)
}
header i{
    margin-left: .5rem;
}
header a span{
   color: var(--main-color);
}
.explore-span{
    font-size: 1rem;
    border: 1px solid;
    padding: .8rem;
    background-color: var(--main-color);
    color:#FFFFFF;
    border-radius: 3px;
}
section{
    border: 1px solid;
}




















@media(max-width:1480px) {

    header {
        
        padding: 22px 15%;
        transition: .1s;
    }

    section {
        padding: 110px 3% 60px;
    }

    .end {
        padding: 15px 3%;
    }

}

@media(max-width:1100px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home {
        height: 87vh;
    }

    .hometext h3 {
        font-size: 2.5rem;
    }
 
}

@media(max-width:920px) {


   

    .logo {
        font-size: 1rem;
    }
  
}








@media(max-width:890px) {

    header{
        padding: 12px 2.5%;
    }
 .section {
     padding: 40px 15px 30px;
 }
 .footer .section{
    
     padding: 40px 15px 10px 15px;
     
 }

  







    .home.section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;

    }

    .home_container {

        display: flex;
        flex-direction: column;
        /* Stack the elements vertically */
        align-items: center;
        padding: 1rem;
        border-radius: 5px;
        position: fixed;
        z-index: 1000;
        bottom: 1rem;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);

    }

    .home_content {
        grid-template-columns: 1fr;
        /* Display a single column */
        padding-top: 1.5rem;
        /* Adjust the top padding */
        text-align: center;
        /* Center align the content */
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    
    .home-text {
        margin: 0;
    }





}

@media(max-width:500px) {
    :root {
        --big-font: 3rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home-text h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-color);
        list-style: 1.1;
        margin: 0 0 35px;
    }

    .home_social {
        display: flex;
        grid-template-columns: max-content;
        column-gap: 1.5rem;
        justify-content: center;
        /* Center align the icons */

    }

  

}

@media(max-width:340px) {
    :root {
        --big-font: 2rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home-text h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--text-color);
        list-style: 1.1;
        margin: 0 0 35px;
    }
 
}